.staking__wrapper {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.staking__container {
  padding: 32px;
  border-radius: 8px;
  border: 1px solid #264653;
  display: flex;
  vertical-align: center;
}
